@model Vodafone_SOS_WebApp.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<script>
    window.onload = function () {
        if ('@TempData["Message"]') {
            alert('@TempData["Message"]')
        }
    }
    </script>

@using (Html.BeginForm("RegisterUserTikdam", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{

    <h4 class="text-danger">@ViewData["ErrorMessage"]</h4>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Roles, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.Roles, null, "-- Select Here --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Roles, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.GcCompanyId, new { @class = "col-md-2 control-label required" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.GcCompanyId, null, "-- Select Here --", new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.GcCompanyId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-red btn-cons" value="Register" />
        </div>
    </div>

}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
