@model Vodafone_SOS_WebApp.ViewModels.LPayeeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LPayeeViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LpParentPayeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpParentPayeeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpUserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpUserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpTradingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpTradingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpChannel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpChannel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpSubChannel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpSubChannel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpPayeeCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpPayeeCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpParentsCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpParentsCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpSFID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpSFID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpEmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpEmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpPayeeStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpPayeeStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpAnalystComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpAnalystComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpManagerComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpManagerComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpPayeeComments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpPayeeComments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpEffectiveStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpEffectiveStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpEffectiveEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpEffectiveEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpIsParent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpIsParent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpFileNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpFileNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpUserFriendlyFileNames)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpUserFriendlyFileNames)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LpSegment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LpSegment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
