@model Vodafone_SOS_WebApp.ViewModels.GMenuViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GMenuViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GmParentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GmParentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GmMenuName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GmMenuName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
