@model Vodafone_SOS_WebApp.ViewModels.RChannelViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RChannelViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RcCompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RcCompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RcChannelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RcChannelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RcDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RcDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GcCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GcCompanyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
