@{
    ViewBag.Title = "Index";
}


<div class="boxes">
    <a class="top_links" href="/RStatusOwners/Create">  <i class="glyphicon glyphicon-pencil"></i> Create New Status Owner</a>
    <br>

    <div id="jqxgrid">

    </div>
</div>

@Scripts.Render("~/bundles/jqxgridbundle")

<script type="text/javascript">
    $(document).ready(function () {
        //save return url
        $.ajax({
            data: { path: window.location.pathname },
            url: "/Home/SaveReturnPath",
            dataType: "json",
            type: "POST",
            success: function (data) {
            },
            error: function (reponse) {
                //  alert("error : " + reponse);
            }
        });

        if ('@TempData["Error"]')
        {
            alert('@TempData["Error"]')
        }

        var source = {
            dataType: "json",
            dataFields: [
                { name: 'Id', type: 'string' },
                { name: 'RsoStatusOwner', type: 'string' },

            ],
            id: "Id",
            url: "/RStatusOwners/GetStatusOwners"
        };


        var dataAdapter = new $.jqx.dataAdapter(source)

        var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {

            return '<button onclick="return CGdelete()" class="GridButton">Delete</button>&emsp;<button onclick="return CGedit()" class="GridButton">Edit</button>';
        };

        $('#jqxgrid').jqxGrid({
            source: dataAdapter,
            width: '100%',
            autoheight: true,
            theme: 'bootstrap',
            sortable: true,
            columnsresize: true,
            columnsreorder: true,
            altrows: true,
            pageable: false,
            filterable: true,
            enablebrowserselection: true,//--RS on 26th feb 2019, to make field copied
            showstatusbar: false,
            ready: function () {

            },

            columns: [
                { text: 'Status Owner', datafield: 'RsoStatusOwner' },
               { text: 'Actions', datafield: 'Id', cellsrenderer: cellsrenderer,width:'10%' }
            ]
        });
    });

    function CGedit()
    {
        var selectedrowindex = $('#jqxgrid').jqxGrid('selectedrowindex');
        var xx = $('#jqxgrid').jqxGrid("getrowid", selectedrowindex);
        if (xx) {
            var url = '@Url.Action("Edit", "RStatusOwners", new {Id = "__id__" })';
            window.location.href = url.replace("__id__", xx);
        }
    }
    function CGdelete()
    {
        var selectedrowindex = $('#jqxgrid').jqxGrid('selectedrowindex');
        var xx = $('#jqxgrid').jqxGrid("getrowid", selectedrowindex);
        if (xx) {
            var url = '@Url.Action("Delete", "RStatusOwners", new {Id = "__id__" })';
            window.location.href = url.replace("__id__", xx);
        }
    }
</script>