
@{
    ViewBag.Title = "Index";
}
<h2>Manage Scheme Owner</h2>
<a href="/LSchemeOwner/Create"><u>Create</u></a>
<a href="/LSchemeOwner/DownloadSchemeOwners"><u><i class="fa fa-download" aria-hidden="true" style="cursor:pointer;font-size:15px !important;"></i></u></a>

@*<i class="fa fa-download" aria-hidden="true" onclick="FnExportGridcsv()" style="cursor:pointer;font-size:15px !important;"></i>
        &ensp;<span id="FilterImage" style="display:none;cursor:pointer;" onclick="ReloadPageForfully()"></span>*@
<br>
<div id="jqxgrid">

</div>
<div id="jqxLoader"></div>

@Scripts.Render("~/bundles/jqxgridbundle")
<script src="~/Scripts/jqxloader.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //save return url
        $.ajax({
            data: { path: window.location.pathname },
            url: "/Home/SaveReturnPath",
            dataType: "json",
            type: "POST",
            success: function (data) {
            },
            error: function (reponse) {
                //  alert("error : " + reponse);
            }
        });

        if ('@TempData["Message"]')
        {
            alert('@TempData["Message"]')
        }
        if ('@TempData["Error"]')
        {
            alert('@TempData["Error"]')
        }

        //Add JqxLoader when form is submitted to disable further clicks
        $("#jqxLoader").jqxLoader({ isModal: true, width: 200, height: 150, imagePosition: 'center' });

        var source = {
            dataType: "json",
            dataFields: [
                { name: 'Id', type: 'int' },
                { name: 'Scheme', type: 'string' },
                { name: 'OwnerName', type: 'string' },

            ],
            url: "/LSchemeOwner/GetSchemeOwners"
        };


        var dataAdapter = new $.jqx.dataAdapter(source)

        var cellsrenderer = function (row, columnfield, value, defaulthtml, columnproperties) {
            var rowdata = $('#jqxgrid').jqxGrid('getrowdata',row)
            {
                return '<button onclick="return FnEdit(' + rowdata.Id+')" class="GridButton">Edit</button>&ensp;<button onclick="return CGdelete()" class="GridButton">Delete</button>';
            }
        };

        $('#jqxgrid').jqxGrid({
            source: dataAdapter,
            width: '100%',
            height:'50%',
            theme: 'bootstrap',
            sortable: true,
            columnsresize: true,
            columnsreorder: true,
            altrows: true,
            editable: false,
            enableHover:false,
            pageable: false,
            filterable: true,
            showstatusbar: false,
            enablebrowserselection: true,
            ready: function () {

            },

            columns: [
                { text: 'Scheme', datafield: 'Scheme' },
                { text: 'OwnerName', datafield: 'OwnerName' },
                { text: 'Actions', datafield: 'Id', cellsrenderer: cellsrenderer,width:'10%',editable:false  }
            ]
        });
    });

    function FnEdit(Id) {
        window.location.href='/LSchemeOwner/Edit?id='+Id
    }

    function CGdelete()
    {
        var selectedrowindex = $('#jqxgrid').jqxGrid('selectedrowindex');
        var xx = $('#jqxgrid').jqxGrid("getrowdata", selectedrowindex);
        if (xx.Id!=0) {
            if (confirm('Are you sure you want to delete ' + xx.Scheme + ' ?')) {
                window.location.href = '/LSchemeOwner/Delete?id=' + xx.Id;
            }
        }
    }


     function FnDownloadRefFileTypes()
    {
        $('#loadertext').modal();
        //var TabName = TabArray[xx].TabName;
         window.location.href = '/LRefFileTypes/DownloadRefFileTypes';
        }
        //This function will export grid in csv of current tab
    //function FnExportGridcsv()
    //{
    //    //var xx = $('#jqxTabs');//.jqxTabs('selectedItem');

    //    //var TabName = TabArray[xx]; --R2.2 Commented bu SG it not setting the Tab Name.
    //    $('#loadertext').modal();
    //  //  var TabName = TabArray[xx].TabName;
    //    window.location.href = '/LSchemeOwner/DownloadSchemeOwners';
    //}
</script>
